In [17]:
%%time
import pandas as pd

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 6.91 µs

In [21]:
cleaned_df = pd.read_csv('cleaned_playerbox.csv')

In [22]:
list_players = list(cleaned_df['playDispNm'].unique())

In [23]:
cleaned_df[:3]

,Unnamed: 0,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamDayOff,playDispNm,playMin,...,teamDiv_Central,teamDiv_Northwest,teamDiv_Pacific,teamDiv_Southeast,teamDiv_Southwest,opptDiv_Central,opptDiv_Northwest,opptDiv_Pacific,opptDiv_Southeast,opptDiv_Southwest
0,0,10/30/12,19:00,Regular,Price,A.J.,WAS,0,A.J. Price,29,...,0,0,0,1,0,1,0,0,0,0
1,1,10/30/12,19:00,Regular,Ariza,Trevor,WAS,0,Trevor Ariza,25,...,0,0,0,1,0,1,0,0,0,0
2,2,10/30/12,19:00,Regular,Okafor,Emeka,WAS,0,Emeka Okafor,25,...,0,0,0,1,0,1,0,0,0,0

In [24]:
%%time
pre_series_list = pd.DataFrame()
pre_merged_list = pd.DataFrame()
for player in list_players:
    date_array = cleaned_df[cleaned_df['playDispNm'] == player].gmDate.to_numpy()
    second_series = pd.Series(date_array, name = 'gmDate')
    idx = list(range(1, len(date_array)+1))
    first_series = pd.Series(date_array, index = idx, name = 'pre_gmDate')
    pre_series_list = pd.merge(first_series, second_series, left_index=True, right_index=True)
    pre_series_list['playDispNm'] = player
    pre_merged_list = pd.concat([pre_series_list,pre_merged_list])

CPU times: user 9.84 s, sys: 586 ms, total: 10.4 s
Wall time: 10.4 s

In [25]:
pre_merged_list[:10]

  pre_gmDate   gmDate     playDispNm
1    4/10/18  4/11/18   Andre Ingram
1     4/6/18   4/8/18  Omari Johnson
2     4/8/18   4/9/18  Omari Johnson
3     4/9/18  4/11/18  Omari Johnson
1    3/31/18   4/4/18   Xavier Silas
1    3/13/18  3/15/18     Damion Lee
2    3/15/18  3/17/18     Damion Lee
3    3/17/18  3/20/18     Damion Lee
4    3/20/18  3/22/18     Damion Lee
5    3/22/18  3/23/18     Damion Lee

In [26]:
%%time
series_list = pd.DataFrame()
merged_list = pd.DataFrame()
for player in list_players:
    date_array = cleaned_df[cleaned_df['playDispNm'] == player].gmDate.to_numpy()
    second_series = pd.Series(date_array, name = 'next_gmDate')
    idx = list(range(1, len(date_array)+1))
    first_series = pd.Series(date_array, index = idx, name = 'gmDate')
    series_list = pd.merge(first_series, second_series, left_index=True, right_index=True)
    series_list['playDispNm'] = player
    merged_list = pd.concat([series_list[1:],merged_list])

CPU times: user 9.71 s, sys: 570 ms, total: 10.3 s
Wall time: 10.3 s

In [27]:
merged_list[:10]

    gmDate next_gmDate     playDispNm
2   4/8/18      4/9/18  Omari Johnson
3   4/9/18     4/11/18  Omari Johnson
2  3/15/18     3/17/18     Damion Lee
3  3/17/18     3/20/18     Damion Lee
4  3/20/18     3/22/18     Damion Lee
5  3/22/18     3/23/18     Damion Lee
6  3/23/18     3/25/18     Damion Lee
7  3/25/18     3/28/18     Damion Lee
8  3/28/18     3/30/18     Damion Lee
9  3/30/18      4/1/18     Damion Lee

In [28]:
cleaned_df_new = pd.merge(pre_merged_list, merged_list, on=['playDispNm', 'gmDate'])

In [29]:
cleaned_df_new[:10]

  pre_gmDate   gmDate     playDispNm next_gmDate
0     4/6/18   4/8/18  Omari Johnson      4/9/18
1     4/8/18   4/9/18  Omari Johnson     4/11/18
2    3/13/18  3/15/18     Damion Lee     3/17/18
3    3/15/18  3/17/18     Damion Lee     3/20/18
4    3/17/18  3/20/18     Damion Lee     3/22/18
5    3/20/18  3/22/18     Damion Lee     3/23/18
6    3/22/18  3/23/18     Damion Lee     3/25/18
7    3/23/18  3/25/18     Damion Lee     3/28/18
8    3/25/18  3/28/18     Damion Lee     3/30/18
9    3/28/18  3/30/18     Damion Lee      4/1/18

In [30]:
cleaned_df_new['gmDate'] = pd.to_datetime(cleaned_df_new['gmDate'])

In [31]:
cleaned_df_new['next_gmDate'] = pd.to_datetime(cleaned_df_new['next_gmDate'])

In [32]:
cleaned_df_new['pre_gmDate'] = pd.to_datetime(cleaned_df_new['pre_gmDate'])

In [33]:
cleaned_df_new['next_gmDays'] = cleaned_df_new['next_gmDate'] - cleaned_df_new['gmDate']
cleaned_df_new['pre_gmDays'] = cleaned_df_new['gmDate'] - cleaned_df_new['pre_gmDate']

In [35]:
cleaned_df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153860 entries, 0 to 153859
Data columns (total 6 columns):
pre_gmDate     153860 non-null datetime64[ns]
gmDate         153860 non-null datetime64[ns]
playDispNm     153860 non-null object
next_gmDate    153860 non-null datetime64[ns]
next_gmDays    153860 non-null timedelta64[ns]
pre_gmDays     153860 non-null timedelta64[ns]
dtypes: datetime64[ns](3), object(1), timedelta64[ns](2)
memory usage: 8.2+ MB