In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_playerbox.csv')

In [3]:
date_array = df[df['playDispNm'] == 'Trevor Ariza'].gmDate.to_frame()

In [4]:
date_array.head()

        gmDate
1     10/30/12
542    11/3/12
1175   11/7/12
1442   11/9/12
1728  11/10/12

In [7]:
date_array.reset_index(inplace=True)
date_array.drop(columns='index').head()

     level_0    gmDate
0          0  10/30/12
1          1   11/3/12
2          2   11/7/12
3          3   11/9/12
4          4  11/10/12
..       ...       ...
438      438   3/30/18
439      439    4/1/18
440      440    4/5/18
441      441    4/7/18
442      442   4/10/18

[443 rows x 2 columns]

In [6]:
second_series = pd.Series(date_array, name = 'second')

ValueError: Wrong number of items passed 2, placement implies 443

In [ ]:
idx = list(range(1, 444))

In [ ]:
first_series = pd.Series(date_array, index = idx, name = 'first')

In [ ]:
pd.merge(first_series, second_series, left_index=True, right_index=True)